.tablet, .mobile{
    display:none;
}
header{
    position:relative;
    margin:0 auto;
    width:138.5rem;
}
header>div{
    position:absolute;
    left:0;
    top:0;
    z-index: 1000;
}
header>div>ul{
    display:flex;
    float:right;
    padding-top:1rem;
}
header>div>ul>li{
    position:relative;
    margin-right:1.5rem;
    line-height: 2rem;
    font-size:1.1rem;
    
}
header>div>ul>li:nth-child(1){
    border:1px solid  rgb(73, 72, 72);
    width:4.4rem;
    line-height: 2rem;
    text-align: center;
}
header>div>ul>li:nth-child(2){
    margin-right:2rem;
}
header>div>ul>li:nth-child(2):before{
    content:"";
    position:absolute;
    right:-1rem;
    top:0.5rem;
    width:0;
    height:1rem;
    border:1px solid rgb(73, 72, 72);
}
header>div>ul>li:nth-child(4){
    margin-right:2rem;
}
header>div>ul>li:nth-child(4):before{
    content:"";
    position:absolute;
    right:-1rem;
    top:0.5rem;
    width:0;
    height:1rem;
    border:1px solid  rgb(73, 72, 72);
}
header>div>ul>li>a{
    color:  rgb(73, 72, 72);
}

header>div>div{
    display:flex;
    justify-content: space-between;
    padding-top:5.3rem;
    width:100%;
}
header>div>div>h1{
    margin-right:10.5rem;
}
header>div>div>h1>a{}
header>div>div>h1>a>img{}

/* 1depth */
header>div>div>nav{}
header>div>div>nav>ul{
    position:relative;
    display:flex;
    width:95rem;
    height:2.5rem;
}
header>div>div>nav>ul>li{
    
    font-size:1.3rem;
    line-height: 2.5rem;
    margin-right:3rem;

}

header>div>div>nav>ul>li>a{
    position:relative;
    display:block;
    line-height: 2.5rem;
    color:rgb(230, 230, 230);
}
header>div>div>nav>ul>li>a:before{
    display:none;
    content: "";
    position:absolute;
    right:-1.1rem;
    top:-0.6rem;
    width:0.8rem;
    height:0.8rem;
    background:#000;
}


/* 2depth*/
header>div>div>nav>ul>li>ul{
    display:flex;
    justify-content: space-around;
    position:absolute;
    left:-5rem;
    top:2.5rem;
    width:100rem;
    height:5rem;
    background:#fff;
}
header>div>div>nav>ul>li>ul{
    display:none;
}

header>div>div>nav>ul>li>ul>li{
    padding:0 1rem;
    line-height: 5rem;
    font-weight: bold;
    
}
header>div>div>nav>ul>li>ul>li>a{
    position:relative;
    display:block;
    line-height: 5rem;
}
header>div>div>nav>ul>li>ul>li>a:before{
    display:none;
    content: "";
    position:absolute;
    left:calc(50% - 6px);
    bottom:0;
    width:0;
    height:0;
    border:6px solid rgba(0,0,0,0);
    border-top:6px solid rgba(0,0,0,1);
}


/* 3depth*/
header>div>div>nav>ul>li>ul>li>ul{
    display:none;
    position:absolute;
    left:0;
    top:5rem;
    padding-top:2rem;
    width:100rem;
    height:38rem;
    background:#fff;
    border-top:1px solid #88898b;
    
}


header>div>div>nav>ul>li>ul>li>ul>li{
    padding:0 1rem;
    font-weight:normal;
}
header>div>div>nav>ul>li>ul>li>ul>li>a{
    display:block;
    line-height: 2.8rem;
}


header>div>div>form{
    margin-left:9rem;
}
header>div>div>form>input{}
header>div>div>form>input:nth-child(1){
    display:none;
}

/* 이벤트 */
header>div>ul>li>a:hover{
    color:#fff;
}
header>div>div>nav>ul>li>a:hover:before{
    display:block;
}



header>div>div>nav>ul>li>ul>li:hover>ul{
    display:block;
}

header>div>div>nav>ul>li>ul>li>a:hover:before{
    display:block;
}
header>div>div>nav>ul>li>ul>li>ul>li>a:hover{
    color:rgb(136, 137, 211);
}